* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-section {
	height: 100vh;
	display: grid;
	place-content: center;
}
.main-section h2 {
	font-size: 3rem;
}

.main-section:nth-child(even) {
	background-color: aquamarine;
}
